<style>

.butcha{
color:black !important;
}
.jumbotron{
  background-color: goldenrod !important;
 
}
.badge{
  background-color:goldenrod;
  color:black;
}
nav{
  background-color:black !important:
}
</style>
<% if !user_signed_in? %>
<div class="jumbotron">
 <div class="container">
    <h1>Welcome to Jorah Entertainment</h1>

    <div class="row">
    <div class="col-sm-2 col-lg-4"></div>
    <div class="col-sm-5 col-lg-6">
          <p class="lead">Movie Streaming Website in Kigali</p>
        </div>
    <div class="col-sm-5 col-lg-3"></div>
  </div>    
<div class="container">
  <div class="row">
    <div class="col-sm-2 col-lg-4">
    </div>
    <div class="col-sm-5 col-lg-4">
          <p class="butcha"><%= link_to "Sign Up and Add new Movie", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
        </div>
    <div class="col-sm-5 col-lg-4">
    </div>
  </div>
</div>
</div>
</div>
<% end %>
<div class="row">
  <% @movies.each do |movie| %>
  <div class="col-sm-6 col-md-3">
  <div class="thumbnail">
      <%= link_to (image_tag movie.image.url (:medium), class: 'image'), movie %>
      <%= link_to 'Movie Details', movie %> |   |
      <%= link_to 'Delete', movie, method: :delete, data: {confirm: 'Are you sure?'} %> 
    </div>
  </div>
  <% end %>
</div>
<h2 class="text-center mt-5"> Working Hours</h2>
      <ul class="list-group mt-1 mb-4">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Monday
          <span class="badge badge-warning  badge-pill">8h00 AM  --- 17h00 PM</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Tuesday
          <span class="badge badge-warning  badge-pill">8h00 AM  --- 17h00 PM</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Wednesday
          <span class="badge badge-warning  badge-pill">8h00 AM  --- 17h00 PM</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Thursday
          <span class="badge badge-warning  badge-pill">8h00 AM  --- 17h00 PM</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Friday
          <span class="badge badge-warning  badge-pill">8h00 AM  --- 17h00 PM</span>
        </li>
      </ul>

 <hr class=" mt-3">
        <div class="row">

          <div class="col-sm-8 col-lg-8">
              <h3>About Jorah Entertainment</h3>
              <p>Jorah Entertainment is a small company entertainment company</p>
              <p>based in nyarugenge that sales moviee</p>
          </div>
          <div class="col-sm-4 col-lg-4">
            <div><p>Sign Up for More News on Movie in our Store</p></div>
            <div>
                <form class="form-inline">
                    <div class="form-group mb-2">
                      <label for="staticEmail2" class="sr-only">Email</label>
                     
                    </div>
                    <div class="form-group mx-sm-4 mb-2">
                     
                      <input type="text" class="form-control" id="inputPassword2">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Sign Up</button>
                  </form>
            </div>
            
          </div>
        </div>


      <hr class=" mt-3 mb-4">
      <div class="row mb-8">

        <div class="col-sm-12 col-lg-2">
          <a href=""><p>Community</a> <a href="">&nbsp&nbsp Tracks</a></p>
        </div>
      <div class="col-sm-12 col-lg-5">
              
      </div>
      <div class="col-sm-12 col-lg-5">
          <p>&copy2019 Jorah Entertainment  Designed: by Yves Byiringiro</p>
      </div>
      </div>

            