<% if !user_signed_in? %>
<div class="jumbotron">
 <div class="container">
    <h1>Welcome to Jorah Entertainment</h1>

    <div class="row">
    <div class="col-sm-2 col-lg-4"></div>
    <div class="col-sm-5 col-lg-6">
          <p class="lead">Movie Streaming Website in Kigali</p>
        </div>
    <div class="col-sm-5 col-lg-3"></div>
  </div>    
<div class="container">
  <div class="row">
    <div class="col-sm-2 col-lg-4">
    </div>
    <div class="col-sm-5 col-lg-4">
          <p class="butcha"><%= link_to "Sign Up and Add new Movie", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
        </div>
    <div class="col-sm-5 col-lg-4">
    </div>
  </div>
</div>
</div>
</div>
<% end %>
<div class="row">
  <% @movies.each do |movie| %>
  <div class="col-sm-6 col-md-3">
  <div class="thumbnail">
      <%= link_to (image_tag movie.image.url (:medium), class: 'image'), movie %>
    </div>
  </div>
  <% end %>
</div>